__pycache__/
tools
TODO
.~lock.resolution_clustering.ods#
*.log
*.zip
*.tar.gz
*.sh.swp
filt/dat/*.xz
filt/dat/struct/*/
filt/dat/stuct/*.txt
filt/dat/struct/xa*
filt/dat/struct/logs
hsm/outs/autodock/*/
ahsm/crd/SiteDesign-main/
CLAUDE.md
photorec.se*
filt/dat/*missing*.txt

